@keyframes opacity-visibility {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0;
    border: 2px solid transparent;
  }

  100% {
    box-shadow: 0px 10px 90px 10px #ccc;
    border: 2px solid #ababab;
  }
}
