body {
  font-family: $Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--1415 {
    max-width: 1485px;
  }

  &--1550 {
    max-width: 1580px;
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  transition: 200ms ease;
  color: var(--color-black);

  &:hover {
    color: inherit;
  }
}

button {
  color: var(--color-black);

  &:hover {
    color: inherit;
  }
}

// * Logo
.logo {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 25px;
  object-fit: contain;
  transition: 300ms ease;
  width: 250px;
  gap: 15px;

  img {
    width: 140px;
    object-fit: contain;
  }

  span {
    font-size: 9px;

    @include breakpointsMaxW($bp-768) {
      font-size: 8px;
      line-height: 11px;
    }

    @include breakpointsMaxW($bp-360) {
      font-size: 7px;
      line-height: 10px;
    }
  }

  @include breakpointsMaxW($bp-container) {
    gap: 10px;
    width: 200px;

    @include breakpointsMaxW($bp-360) {
      gap: 8px;
    }

    img {
      width: 110px;

      @include breakpointsMaxW($bp-360) {
        width: 90px;
      }
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

// * Заголовок секции
.section-title {
  @include adaptive-value('font-size', 40, 24, 1);
}

// * Кнопки
.btn {
  display: inline-block;
  line-height: 1;
  background-color: var(--color-accent) !important;
  color: var(--color-white) !important;
  transition: 200ms ease;
  border-radius: 24px;
  padding: 15px 25px;
  font-weight: 500;
  border: none;

  &:hover {
    background-color: lighten(#ea5150, 5%) !important;
    color: var(--color-white);
  }

  &:active {
    transform: scale(0.98);
    color: var(--color-white);
    background-color: darken(#ea5150, 5%) !important;
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
  }
}

.card-link {
  color: inherit;
  transition: 200ms ease;

  &:hover {
    color: var(--color-accent);
  }
}

.developed {
  display: flex;
  align-items: center;
  gap: 10px;

  &__logo {
    transition: 200ms ease;
    width: 110px;
    max-height: 20px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.vanilla-calendar-header {
  max-width: calc(100% - 20px) !important;
}

.vanilla-calendar-arrow_prev {
  transform: rotateZ(180deg) translateX(-20px);
}

input[type='file'] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.custom-file-upload {
  display: inline-block;
  padding: 3px 6px;
  width: 100%;
  height: 45px;
  border: 1px dashed var(--color-accent);
  cursor: pointer;

  line-height: 1;
  font-weight: 400;
  color: var(--color-accent);
  border-radius: 5px;
  transition: 150ms ease;
  @include adaptive-value('font-size', 17, 14, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3px;
  font-size: 13px;
  background-color: transparent;

  span {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    color: #d3b3b1;
    transition: 150ms ease;
  }

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-white);

    span {
      color: var(--color-white);
    }
  }
}

.header-profile {
  background-color: var(--color-accent);
  color: var(--color-white);

  &__left {
    color: var(--color-white);
  }

  @include breakpointsMaxW($bp-768) {
    height: 140px;
  }

  &__btn-filter {
    position: relative;
    width: 20px;
    height: 20px;
    display: none;

    &::after {
      @include elDef();
      width: 100%;
      height: 100%;
      @include maskImage(url('../images/content/filter.png'), contain);
      top: 0;
      left: 0;
      background-color: #959595;
      transition: 200ms ease;
    }

    &:hover {
      &::after {
        background-color: var(--color-black);
      }
    }
  }

  &__left {
    line-height: 1;
    font-weight: 500;
    @include adaptive-value('font-size', 25, 15, 1);
    margin-right: 40px;
    flex-shrink: 0;
  }

  &__inner {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpointsMaxW($bp-991) {
      display: grid;
      grid-template-columns: auto 20px;
      gap: 20px;

      .header-profile__btn-filter {
        display: block;
      }

      .header-profile-search {
        grid-column: 1/-1;
        grid-row: 2/3;
        max-width: 100%;
      }
    }
  }

  .header-profile-nav {
    flex-shrink: 0;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__link {
      color: var(--color-white);
      display: block;
      padding: 10px 0;
      position: relative;

      &::after {
        @include elDef();
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
        transform: scaleX(0);
        transform-origin: right center;
        transition: transform 500ms ease;
      }

      &:hover,
      &.active {
        &::after {
          transform: scaleX(1);
          transform-origin: left center;
          transition-duration: 400ms ease;
        }
      }

      &--telegram {
        padding-left: 25px;

        &::before {
          @include elDef();
          width: 15px;
          height: 15px;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          @include maskImage(url('../images/icons/telegram.svg'), contain);
          background-color: var(--color-white);
        }
      }
    }
  }

  &--bg-white {
    background-color: var(--color-white);
    color: var(--color-black);

    .header-profile {
      &__left {
        color: var(--color-black);
        font-weight: 600;
      }
    }

    .header-profile-nav {
      &__link {
        color: var(--color-black);
        position: relative;

        &.active,
        &:hover {
          color: var(--color-accent);
        }

        &::after {
          background-color: var(--color-accent);
        }

        &--telegram {
          &::before {
            background-color: var(--color-black);
          }

          &:hover {
            &::before {
              background-color: var(--color-accent);
            }
          }
        }
      }
    }
  }
}

.header-profile-search {
  max-width: 540px;
  width: 100%;
  position: relative;
  margin-right: 40px;

  &::after {
    @include elDef();
    width: 19px;
    height: 19px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    @include maskImage(url('../images/icons/search.svg'), contain);
    background-color: #b9b9b9;
  }

  &__input {
    display: block;
    width: 100%;
    height: 49px;
    background-color: #f2f2f2;
    border-radius: 5px;
    outline: transparent;
    padding: 20px 20px 20px 60px;
  }
}

.fix-nav {
  display: none;
  background-color: #f0f0f0;
  color: var(--color-dark);
  padding: 10px 0;

  @include breakpointsMaxW($bp-991) {
    display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5;
  }

  &__text {
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    color: #7b7b7b;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include breakpointsMaxW($bp-576) {
      gap: 3px;
    }
    @include breakpointsMaxW($bp-360) {
      gap: 0;
    }
  }

  &__item {
    width: 110px;
  }

  &__img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--user {
      .fix-nav__img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}
