.directions {
  &__slider {
    position: relative;
    @include adaptive-value('margin-bottom', 60, 40, 1);

    .swiper-button-next,
    .swiper-button-prev {
      top: 38%;

      @include breakpointsMaxW($bp-991) {
        top: 34%;
      }

      @include breakpointsMaxW($bp-768) {
        top: 28%;
      }
      @include breakpointsMaxW($bp-576) {
        top: 24%;
      }
    }

    .swiper-button-next {
      right: max(15px, calc((100% - 1240px) / 2));
    }

    .swiper-button-prev {
      left: max(15px, calc((100% - 1240px) / 2));
    }
  }

  &__slide {
    box-sizing: border-box;
  }

  &__top {
    @include adaptive-value('height', 590, 320, 1);
    @include adaptive-value('margin-bottom', 60, 30, 1);
    position: relative;

    img {
      @include img(cover);

      @include breakpointsMaxW($bp-768) {
        @include img(contain);
      }
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 3;
    font-size: 15px;

    @include breakpointsMaxW($bp-768) {
      width: 200px;
      padding: 15px;
    }

    &:active {
      transform: scale(0.98) translateX(-50%);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: minmax(auto, 310px) 1fr;
    gap: 80px;

    @include breakpointsMaxW($bp-container) {
      gap: 50px;
    }

    @include breakpointsMaxW($bp-991) {
      gap: 30px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    @include fz26();
    font-weight: 300;
    @include adaptive-value('margin-bottom', 40, 30, 1);

    @include breakpointsMaxW($bp-768) {
      margin-bottom: 0;
    }
  }

  &__item {
    font-family: $SFProDisplay;
    font-weight: 300;

    @include breakpointsMaxW($bp-768) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__more {
    @include adaptive-value('font-size', 17, 14, 1);

    @include breakpointsMaxW($bp-768) {
      display: none;
    }

    &--mobile {
      display: none;

      @include breakpointsMaxW($bp-768) {
        display: block;
        width: 150px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
