.event {
  @include adaptive-value('padding-bottom', 70, 60, 1);

  &__preview {
    @include adaptive-value('height', 590, 300, 1);
    @include background(cover);
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }

  &__inner {
    display: flex;
    gap: 120px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include breakpointsMaxW($bp-container) {
      gap: 70px;
    }

    @include breakpointsMaxW($bp-991) {
      gap: 40px;
    }

    @include breakpointsMaxW($bp-768) {
      gap: 50px;
    }
  }

  &__heading {
    @include fz26();
    @include adaptive-value('margin-bottom', 20, 10, 1);
  }

  &__text {
    font-family: $SFProDisplay;
    font-weight: 300;
    @include adaptive-value('font-size', 19, 15, 1);
  }

  &__topic {
    @include breakpointsMaxW($bp-991) {
      text-align: center;
    }
  }

  .event-master {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    @include adaptive-value('gap', 30, 25, 1);

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr;
    }

    &__title {
      @include fz26();
      grid-column: 2/3;

      @include breakpointsMaxW($bp-768) {
        grid-column: initial;
        grid-row: 1/2;
        margin-bottom: 10px;
      }
    }

    &__name {
      @include adaptive-value('font-size', 21, 18, 1);
      line-height: 1.2;
      font-weight: 500;
      grid-column: 2/3;

      @include breakpointsMaxW($bp-768) {
        grid-column: initial;
        grid-row: 3/4;
      }
    }

    &__img {
      border-radius: 50%;
      object-fit: cover;
      @include adaptive-value('width', 180, 150, 1);
      @include adaptive-value('height', 180, 150, 1);
      grid-column: 1/2;
      grid-row: 1/-1;

      @include breakpointsMaxW($bp-768) {
        grid-row: 2/3;
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }
    }

    &__text {
      font-size: 15px;
      grid-column: 2/3;

      @include breakpointsMaxW($bp-768) {
        grid-column: initial;
        grid-row: 4/5;
      }
    }
  }
}
