.faqs {
  @include adaptive-value('padding-bottom', 80, 50, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 100px;
    align-items: center;

    @include breakpointsMaxW($bp-container) {
      gap: 50px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  .accordion {
    .accordion-item {
      border-bottom: 1px solid var(--color-black);
      button[aria-expanded='true'] {
        border-bottom: 1px solid var(--color-black);
      }
    }

    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: var(--color-black);
      font-size: 18px;
      font-weight: 500;
      border: none;
      background: none;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
        color: var(--color-black);
        &::after {
          cursor: pointer;
          color: var(--color-black);
          border: 1px solid var(--color-black);
        }
      }

      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }

      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }

    button[aria-expanded='true'] {
      color: var(--color-black);
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }

    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;

      p {
        font-family: $SFProDisplay;
        font-size: 15px;
        font-weight: 300;
        padding: 2em 0;
      }
    }
  }

  &__preview {
    max-width: 540px;
    @include background(contain);
    width: 100%;
    @include adaptive-value('height', 600, 300, 1);

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }
}
