.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-image: linear-gradient(90deg, #8d3231 -24%, #ea5150 125%);
  z-index: 12;
  width: 100%;
  color: var(--color-white);

  transform: translateX(-100%);
  transition: 350ms ease-in-out;
  overflow-y: auto;
  padding: 40px;
  @include adaptive-value('padding-left', 40, 20, 1);
  @include adaptive-value('padding-right', 40, 20, 1);

  &__logo {
    display: block;
    width: 45px;
    height: 45px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 10px;
    justify-content: space-between;
  }

  &__close {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--color-white);
    z-index: 999;
  }

  &__bottom {
    margin-top: auto;
  }

  &__list {
    margin-bottom: 45px;
  }

  &__item {
    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 30, 20, 1);
    }
  }

  &__link {
    font-size: 16px;
    width: 100%;
    display: block;
    color: var(--color-white);
  }

  &__btn {
    display: inline-block;
    border: 1px solid var(--color-white);
    border-radius: 22px;
    padding: 14px 20px 14px 45px;
    position: relative;
    transition: 200ms ease;
    line-height: 1;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 50px;
    color: var(--color-white);
   
    &::after {
      @include elDef();
      width: 20px;
      height: 20px;
      top: 50%;
      left: 17px;
      transform: translate(0, -50%);
      background-color: var(--color-white);
      @include maskImage(url('../images/icons/enter.svg'), contain);
      transition: 200ms ease;
    }

    @include breakpointsMaxW($bp-360) {
      padding: 14px 10px 14px 35px;
      font-size: 11px;

      &::after {
        left: 10px;
      }
    }

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
      border-color: var(--color-black);

      &::after {
        background-color: var(--color-white);
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .socials {
    margin-bottom: 40px;

    &__link {
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.6) !important;

      &:hover {
        border-color: var(--color-white);
        background-color: var(--color-white) !important;

        &::after {
          background-color: var(--color-accent) !important;
        }
      }

      &::after {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .contacts-links {
    font-family: $SFProDisplay;
    font-weight: 300;
    line-height: 1;
    font-size: 15px;

    &__link {
      padding-left: 28px;
      color: rgba(255, 255, 255, 0.8);
      position: relative;
      line-height: 2;

      &::after {
        @include elDef();
        width: 15px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &--phone {
        &::after {
          @include maskImage(url('../images/icons/phone.svg'), contain);
        }
      }

      &--mail {
        &::after {
          @include maskImage(url('../images/icons/mail.svg'), contain);
        }
      }

      &--address {
        &::after {
          @include maskImage(url('../images/icons/location.svg'), contain);
        }
      }

      &:hover {
        color: var(--color-white);
      }
    }
  }

  @include breakpointsMinW($bp-991) {
    display: none;
  }
}
