.mentor {
  @include adaptive-value('padding-top', 70, 40, 1);
  @include adaptive-value('padding-bottom', 100, 60, 1);

  &__title {
    @include fz35();
    text-align: center;
    font-weight: 300;
    @include adaptive-value('margin-bottom', 70, 30, 1);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 710px) minmax(auto, 320px);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;

    @include breakpointsMaxW($bp-container) {
      padding-right: 50px;
    }

    @include breakpointsMaxW($bp-991) {
      padding-right: 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__img {
    @include adaptive-value('height', 580, 280, 1);
    object-fit: cover;
    width: 100%;

    @include breakpointsMaxW($bp-768) {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .mentor-item {
    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 40, 20, 1);
    }

    &__top {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;

      span {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__text {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
