<section class="about-mentor">
  <div class="container">
    <h2 class="visually-hidden">Про ментора</h2>

    <ul class="about-mentor__list">
      <li class="about-mentor-item">
        <img
          class="about-mentor-item__img"
          src="images/content/dossier.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-mentor-item__right">
          <div class="about-mentor-item__inner">
            <div class="about-mentor-item__top">
              <span class="about-mentor-item__count">01</span>
              <h3 class="about-mentor-item__title">Досье ментора</h3>
            </div>

            <div class="about-mentor-item__text">
              <p>
                Иван начинал как IT Project Manager в мобильном операторе
                Вымпелком (Билайн). Работал аналитиком рынков в консалтинге. Был
                журналистом международного издания о будущих технологиях.
                Возглавлял It-компанию. Переехал в Канаду. Руководил запуском
                новых продуктов в Rogers (мобильныqй оператор). Занялся
                стартапами. Создал несколько акселераторов и венчурных фондов.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-mentor-item">
        <img
          class="about-mentor-item__img"
          src="images/content/facts.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-mentor-item__right">
          <div class="about-mentor-item__inner">
            <div class="about-mentor-item__top">
              <span class="about-mentor-item__count">02</span>
              <h3 class="about-mentor-item__title">Факты о менторе</h3>
            </div>

            <div class="about-mentor-item__text">
              <p>Принципиальность ведёт меня по жизни своим путём.</p>
              <p>Не люблю готовить тексты и заучивать материал.</p>
              <p>
                Работая в такси и маршрутках, понял, что с «низким порогом
                входа» в бизнес нечего его начинать — это на 100% про
                производственный бизнес
              </p>
              <p>
                Люблю фразу «хороший рецепт может воспроизвести любой повар».
              </p>
              <p>
                Был в 2014 г. в Японии и лично проходил курс Бережливого
                производства от гуру философии ТОЙОТА с 40-летним стажем.
              </p>
              <p>
                За 3 года работы вывел крупнейший завод минеральной изоляции из
                убытка в несколько сотен миллионов в чистую прибыль более
                миллиарда рублей.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-mentor-item">
        <img
          class="about-mentor-item__img"
          src="images/content/strength.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-mentor-item__right">
          <div class="about-mentor-item__inner">
            <div class="about-mentor-item__top">
              <span class="about-mentor-item__count">03</span>
              <h3 class="about-mentor-item__title">Сильные стороны ментора</h3>
            </div>

            <div class="about-mentor-item__text">
              <p>
                <span>Понимание работы разных рынков:</span> Fintech, eСommerce,
                Media, Gaming, Chat-bots, EdTech, eHealth, Cloud, BI, Big Data,
                AI/ML, Blockchain, CRM, IoT
              </p>
              <p>
                <span>Практики:</span> SWOT, PEST, KPIs, Cases, Benchmarks,
                Scorecards, Dashboards, Mapping, Brainstorming, A/B, SMM, SEO
              </p>
              <p>
                <span> Навыки:</span> Конверсия, AARRR, DAU, LTV, Retention,
                nps, North Star, Капитализация, Time-to-market, Behavior.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="about-mentor-item">
        <img
          class="about-mentor-item__img"
          src="images/content/business.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-mentor-item__right">
          <div class="about-mentor-item__inner">
            <div class="about-mentor-item__top">
              <span class="about-mentor-item__count">04</span>
              <h3 class="about-mentor-item__title">Особенности бизнеса</h3>
            </div>

            <div class="about-mentor-item__text">
              <p>
                Сейчас в группу, которой владеет Денис, входят 7 компаний, где
                работают более 700 сотрудников. Все они приносят прибыль и
                планируют выход на международный рынок и руководствуются в своей
                работе единым девизом – прибыль дороже всего, но честь дороже
                прибыли.
              </p>
              <p>
                Гарантия долгосрочного конкурентного преимущества компаний –
                постоянно меняться, сохраняя лучшие качества, стремиться к
                безусловному лидерству во всём, никогда не останавливаться на
                достигнутом, досконально разбираться в любой поставленной
                задаче, постоянно ставить перед собой амбициозные цели и
                достигать их.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
