<section class="about-event">
  <div class="container">
    <h2 class="about-event__title">О событии</h2>
    <ul class="about-event__list">
      <li class="about-event-item">
        <img
          class="about-event-item__img"
          src="images/content/quality-networking.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-event-item__right">
          <div class="about-event-item__inner">
            <div class="about-event-item__top">
              <span class="about-event-item__count">01</span>
              <h3 class="about-event-item__title">Качественный нетворкинг</h3>
            </div>

            <ul class="about-event-item__list">
              <li class="about-event-item__item">
                Сможешь решить наболевшие проблемы и легко закроешь запросы
                другим людям;
              </li>
              <li class="about-event-item__item">
                Познакомишься с профессионалами своего дела, расширишь
                социальный круг связей;
              </li>
              <li class="about-event-item__item">
                Закроешь свои проблемы в бизнесе, найдешь партнера;
              </li>
              <li class="about-event-item__item">
                Научишься структуризировать свои задачи;
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="about-event-item">
        <img
          class="about-event-item__img"
          src="images/content/useful-content.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-event-item__right">
          <div class="about-event-item__inner">
            <div class="about-event-item__top">
              <span class="about-event-item__count">02</span>
              <h3 class="about-event-item__title">Полезный контент</h3>
            </div>

            <ul class="about-event-item__list">
              <li class="about-event-item__item">
                Научишься легко знакомиться и поймешь как быстро решать текущие
                задачи;
              </li>
              <li class="about-event-item__item">
                Научишься формулировать запросы так, чтобы окружающие хотели
                помочь;
              </li>
              <li class="about-event-item__item">
                Узнаешь формулу бедности и начнешь формировать свой денежный
                капитал;
              </li>
              <li class="about-event-item__item">
                Возможно найдешь свое предназначение;
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="about-event-item">
        <img
          class="about-event-item__img"
          src="images/content/nice-bonuses.jpg"
          alt="Качественный нетворкинг"
        />
        <div class="about-event-item__right">
          <div class="about-event-item__inner">
            <div class="about-event-item__top">
              <span class="about-event-item__count">03</span>
              <h3 class="about-event-item__title">Приятные бонусы</h3>
            </div>

            <ul class="about-event-item__list">
              <li class="about-event-item__item">
                Научишься уделять время себе, наслаждаться жизнью;;
              </li>
              <li class="about-event-item__item">
                Увеличишь количество подписчиков в социальных сетях;
              </li>
              <li class="about-event-item__item">
                Найдешь компанию для совместного роста и путешествий;
              </li>
              <li class="about-event-item__item">
                Наконец, заведешь своего бади (приятеля);
              </li>
              <li class="about-event-item__item">
                Начнешь реализовывать свои цели, возможно сделаешь первый шаг к
                мечте;
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
