<section class="event-program">
  <div class="container">
    <h2 class="event-program__title">Программа</h2>

    <ul class="event-program__list">
      <li class="event-program__item">
        <div class="event-program__left">15:40</div>
        <div class="event-program__right">
          <p>Сбор гостей / Регистрация</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">16:00</div>
        <div class="event-program__right">
          <p>Выступление Азата Шигаева</p>
          <p>
            Тема: Как экологично зарабатывать на социальных связях. Как
            научиться закрывать свои запросы и знакомиться с людьми легко и с
            пользой.
          </p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">16:40</div>
        <div class="event-program__right"><p>Нетворкинг сессия</p></div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">17:10</div>
        <div class="event-program__right">
          <p>Подведение итогов Нетворкинг сессии</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">17:30</div>
        <div class="event-program__right">
          <p>Свободный формат общения</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">18:00</div>
        <div class="event-program__right">
          <p>Тест драйв трансформационной игры "Путь Желаний"</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">19:10</div>
        <div class="event-program__right">
          <p>Тест драйв трансформационной игры "Путь Желаний"</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">20:30</div>
        <div class="event-program__right">
          <p>Тест драйв трансформационной игры "Путь Желаний"</p>
        </div>
      </li>
      <li class="event-program__item">
        <div class="event-program__left">21:00</div>
        <div class="event-program__right">
          <p>Тест драйв трансформационной игры "Путь Желаний"</p>
        </div>
      </li>
    </ul>

    <button class="event-program__more" type="button">ПОКАЗАТЬ ЕЩЕ</button>
  </div>
</section>
