<div class="fix-nav">
  <div class="container">
    <ul class="fix-nav__list">
      <li class="fix-nav__item">
        <a class="fix-nav__link fix-nav__link--user" href="#">
          <img
            class="fix-nav__img"
            src="images/content/mentors/1.jpg"
            alt="Профиль"
          />
          <span class="fix-nav__text">Профиль</span>
        </a>
      </li>
      <li class="fix-nav__item">
        <a class="fix-nav__link" href="#">
          <img
            class="fix-nav__img"
            src="images/content/people.png"
            alt="Профиль"
          />
          <span class="fix-nav__text">Все участники</span>
        </a>
      </li>
      <li class="fix-nav__item">
        <a class="fix-nav__link" href="#">
          <img
            class="fix-nav__img"
            src="images/content/telegram-plane.png"
            alt="Профиль"
          />
          <span class="fix-nav__text">Написать директору</span>
        </a>
      </li>
    </ul>
  </div>
</div>
