<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-inner">
        <a class="footer__logo logo" href="#">
          <img src="images/logo.png" alt="Логотип" />
          <span>бизнес — клуб для предпринимателей</span>
        </a>

        <div class="footer__socials socials socials--border">
          <ul class="socials__list">
            <li class="socials__item">
              <a
                class="socials__link socials__link--telegram"
                href="#"
                aria-label="telegram"
              ></a>
            </li>
            <li>
              <a
                class="socials__link socials__link--whatsapp"
                href="#"
                aria-label="whatsapp"
              ></a>
            </li>
          </ul>
        </div>

 
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>
        © 2022 Система. Все права защищены.
        <a href="#">Политика конфиденциальности.</a>
      </p>
    </div>
  </div>
</footer>
