<section class="format">
  <div class="container">
    <div class="format__offer">
      <h2 class="format__title">
        Формат менторства — <span></span> очные встречи в Москве
      </h2>
      <div class="format__text">
        <p>
          Очные встречи будут проходить в офисе раз в неделю. Ментор имеет право
          отказать потенциальному кандидату после первого интервью.
        </p>
      </div>

      <a class="format__btn btn" href="#">Следующий ментор</a>
    </div>
  </div>
</section>
