<section class="login">
  <div class="container">
    <div class="login__wrapper">
      <h1 class="login__title">
        Вход <br />
        для резидентов клуба
      </h1>
      <form class="login__form form-login">
        <label class="form-login__group">
          <input class="form-login__input" type="text" placeholder="Логин" />
        </label>
        <label class="form-login__group">
          <input
            class="form-login__input"
            type="password"
            placeholder="Пароль"
          />
        </label>

        <button class="form-login__btn btn" type="submit">
          Войти
        </button>
      </form>
    </div>
  </div>
</section>
