<section class="mentor">
  <div class="container">
    <h2 class="mentor__title">Азат Шигаев</h2>

    <div class="mentor__wrapper">
      <img
        class="mentor__img"
        src="images/content/mentors/1.jpg"
        alt="Азат Шигаев"
      />
      <ul class="mentor__list">
        <li class="mentor-item">
          <div class="mentor-item__top">
            <img
              src="images/content/gear.png"
              alt="gear"
              width="20"
              height="20"
            />
            <span>Основные виды деятельности:</span>
          </div>
          <div class="mentor-item__text">
            <p>
              Переработка мусора, бурение спец-установками, квест-комнаты,
              коммерческая недвижимость.
            </p>
          </div>
        </li>
        <li class="mentor-item">
          <div class="mentor-item__top">
            <img
              src="images/content/wallet.png"
              alt="gear"
              width="20"
              height="20"
            />
            <span>Годовой оборот</span>
          </div>
          <div class="mentor-item__text">
            <p>1,5 миллиардов рублей</p>
          </div>
        </li>
        <li class="mentor-item">
          <div class="mentor-item__top">
            <img
              src="images/content/employee.png"
              alt="gear"
              width="20"
              height="20"
            />
            <span>Количество сотрудников</span>
          </div>
          <div class="mentor-item__text">
            <p>Блее 200.</p>
          </div>
        </li>
        <li class="mentor-item">
          <div class="mentor-item__top">
            <img
              src="images/content/puzzle.png"
              alt="gear"
              width="20"
              height="20"
            />
            <span>Увлечения</span>
          </div>
          <div class="mentor-item__text">
            <p>
              Развитие предпринимателей, публичные выступления, здоровый образ
              жизни, системность во всех сферах.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
