<section class="payments">
  <div class="container">
    <div class="payments__top">
      <h2 class="payments__title">
        Онлайн - оплата доступа <br />
        в Бизнес - клуб «Система»
      </h2>
      <p class="payments__text">
        Оплатите доступ в наш бизнес - клуб банковской картой стандартным
        методом, а так же через систему быстрых платежей, по QR-коду
      </p>
    </div>
  </div>
  <div
    class="payments__wrapper"
    style="background-image: url('images/content/payment-bg.jpg')"
  >
    <div class="payments__inner">
      <div class="payments__left">
        <h3 class="payments__heading">Оплатите по QR - коду</h3>
        <p class="payments__descr">
          Наведите камеру телефона на QR-код и произведите оплату
        </p>

        <img class="payments__img" src="images/content/qr.png" alt="code" />
      </div>
      <div class="payments-sum">
        <div class="payments-sum__inner">
          <span class="payments-sum__heading">Выберите сумму для оплаты</span>
          <ul class="payments-sum__list">
            <li class="payments-sum__item">
              <label class="payments-sum__checkbox checkbox">
                <input
                  class="checkbox__input"
                  type="radio"
                  name="sum"
                  checked
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> 500 руб </span>
              </label>
            </li>
            <li class="payments-sum__item">
              <label class="payments-sum__checkbox checkbox">
                <input class="checkbox__input" type="radio" name="sum" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> 20 000 руб </span>
              </label>
            </li>
            <li class="payments-sum__item">
              <label class="payments-sum__checkbox checkbox">
                <input class="checkbox__input" type="radio" name="sum" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">50 000 руб </span>
              </label>
            </li>
            <li class="payments-sum__item">
              <label class="payments-sum__checkbox checkbox">
                <input class="checkbox__input" type="radio" name="sum" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">150 000 руб</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
