<section class="photos">
  <div class="container container--1550">
    <h2 class="photos__title">Фото с мероприятий</h2>

    <div class="photos__slider swiper">
      <ul class="photots__slides swiper-wrapper">
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/1.jpg"
        >
          <img src="images/content/photos/1.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/2.jpg"
        >
          <img src="images/content/photos/2.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/3.jpg"
        >
          <img src="images/content/photos/3.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/4.jpg"
        >
          <img src="images/content/photos/4.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/1.jpg"
        >
          <img src="images/content/photos/1.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/2.jpg"
        >
          <img src="images/content/photos/2.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/3.jpg"
        >
          <img src="images/content/photos/3.jpg" alt="фото" />
        </li>
        <li
          class="photos__slide swiper-slide"
          data-fancybox
          data-src="images/content/photos/4.jpg"
        >
          <img src="images/content/photos/4.jpg" alt="фото" />
        </li>
      </ul>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
