<section class="values">
  <div class="container">
    <h2 class="values__title">Ценности</h2>
    <ul class="values__list">
      <li class="values__item values__item--consistency">Системность</li>
      <li class="values__item values__item--honesty">Честность</li>
      <li class="values__item values__item--hardness">
        Твердость <br />
        сказал - сделал
      </li>
      <li class="values__item values__item--integrity">Добропорядочность</li>
      <li class="values__item values__item--facts">Говорить фактами</li>
      <li class="values__item values__item--help">Желание помогать</li>
      <li class="values__item values__item--convenience">Удобство жизни</li>
      <li class="values__item values__item--continuity">Целостность</li>
    </ul>
  </div>
</section>
